body{
    background-color: aqua;
}
.head{
color: red;
text-align: center;
font-size: 60px;
text-transform: capitalize;
text-decoration: underline;
text-decoration-color: blue;
text-decoration-style: dashed;
letter-spacing: 30px;
}



.para{font-weight: bold;
    font-style: italic;
    word-spacing: 20px;
line-height: 70px;




}